html,
body {
    overflow-x: hidden;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
}

/** Site Wrapper **/
#site-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

#site-canvas {
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    padding: 0 0;
}
.show-nav #site-canvas {
    -webkit-transform: translateX(280px);
    transform: translateX(280px);

    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
}

/** Menu **/
#site-menu {
    width: 280px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -280px;
    background: #191918;
    color:  #fff;
    padding: 15px;
    margin: 0;
}
#site-menu ul {
    margin: 5px 0 25px 0;
    padding: 0;
    list-style-type: none;
}
#site-menu li {
    padding: 6px 0;
    color: #909090;
    line-height: 100%;
    font-size: 18px;
}

#site-menu li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
#site-menu li a:hover {
    color: #fff;
    text-decoration: none;
}


#toggle-menu {
    color: #fff;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
    background-color: #333332;
    overflow: hidden;
    z-index: 999;
    padding-top: 8px;

}
#toggle-menu a {
    text-decoration: none;
}


/** Cover Image **/
.cover-image {
    position: absolute;
    max-height: 640px;
    min-height: 450px;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,.3);
    box-shadow: inset -1px 0 0 rgba(0,0,0,.3);
}
.blog-cover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,.3);
    box-shadow: inset -1px 0 0 rgba(0,0,0,.3);
}

[data-load-image] {

}
[data-load-image]{
    position:relative;background-position:center;-webkit-background-size:cover;background-size:cover;
    background-color:#333;background-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    -webkit-transition:background-image .5s ease-in-out;transition:background-image .5s ease-in-out
}
[data-load-image]:before{
    content:"";
    display:block;position:absolute;
    top:50%;left:50%;width:14px;height:14px;margin-top:-7px;margin-left:-7px;border:solid 2px transparent;
    border-top-color:#fff;border-left-color:#fff;border-radius:10px;
    -webkit-animation:load-spinner 400ms linear infinite;animation:load-spinner 400ms linear infinite;
    -webkit-transition:opacity .2s;transition:opacity .2s}
[data-load-image].image-loaded:before{opacity:0}


.cover-container {
    position: absolute;
    bottom: 10%;
    /*padding: 10px 10% 10%;*/
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10%;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    left: 0;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0.03);
    text-align: center;
}

.post-item-footer {
    padding: 0px 0;
}


.cover {
    position: relative;
    top:0;
    left: 0;
    width: 30%;
    height: 100%;
    z-indez: 100;
    background: #57a3e8;
}

@media only screen and (max-width:1023px){
    .cover{
        width:100%;height:30%;min-height:300px
    }
}


.wrapper {
    position: absolute;
    left:30%;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 0;
    background-color: #fff;
    overflow: auto;
    padding-left: 0;
}

@media only screen and (max-width:1023px){
    .wrapper{
        position:relative;
        left:0;
    }
}

.wrapper-container {
    position: relative;
    padding: 40px 10% 40px 80px;
    max-width: 100%;
}


/** Post Lists **/

.post-list-pagination {
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, san-serif;
    padding: 25px 0;
    overflow: hidden;
    border-top: 1px solid #f2f2f2;
}

.post-list-pagination-item {
    color: #b3b3b3;
}
.post-list-pagination-item.post-list-pagination-item-prev {
    float:left;
}
.post-list-pagination-item.post-list-pagination-item-next {
    float:right;
}

.footer {
    font-family: "Open Sans","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 20px 0;
    border-top: 2px solid #f2f2f2;
    color: #b3b3b3;
}