@(blog:Option[Blog], form: Form[BlogData], user:Visitor, avatarUrl:String)(implicit  messages:Messages, token:controllers.PreventingCsrfToken, flash:Flash)
@main("Blog", "blog", None, None, None, None, user){
@views.html.blogs_menu(None, user)
}{
<div class="navbar-form navbar-right">
    <a class="btn" href="@routes.BlogsGuestController.index()">@Messages("blogs.action.cancel")</a>
</div>
}{
<aside role="banner" class="cover">
    @blog match {
    case None => {
        <div id="banner-image" data-load-image="" class="blog-cover-image"></div>
        <div class="cover-container">
            <div class="blog-top-cover-upload">
                <button class="btn fileinput-button"><i class="fa fa-image fa-3x"></i>
                    <span class="screen-reader-text">@Messages("blogs.action.upload_image")</span>
                </button>
                <div class="fileupload-process">
                    <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                    </div>
                </div>
            </div>
            <h1 class="cover-title">Vista Previa</h1>
            <p class="cover-description">Description</p>
        </div>
        }
    case Some(blog) => {
        <div id="banner-image" data-load-image="@blog.image.getOrElse("")" class="blog-cover-image"></div>
        <div class="cover-container">
            <div class="blog-top-cover-upload">
                <button class="btn fileinput-button"><i class="fa fa-image fa-3x"></i>
                    <span class="screen-reader-text">@Messages("blogs.action.upload_image")</span>
                </button>
                <div class="fileupload-process">
                    <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                    </div>
                </div>
            </div>
            @if(blog.useAvatarAsLogo.getOrElse(false)) {
            <a href="@routes.PostsGuestController.index(blog.alias)" class="cover-logo" >
                <img src="@avatarUrl"   alt="Blog Author" class="img-circle">
            </a>
            } else {
            @if(blog.logo.orNull) {
            <a href="@routes.PostsGuestController.index(blog.alias)" class="cover-logo" >
                <img src="@blog.logo.orNull"   alt="Blog Logo">
            </a>
            }
            }
            <h1 class="cover-title">@blog.name</h1>
            <p class="cover-description">@blog.description</p>
        </div>
        }
    }
</aside>
<section class="wrapper" tabindex="0" >
    <div class="wrapper-container">
        <h1>Modificar Blog</h1>
        <div style="width:100%;">
            <form role="form" class="form-horizontal" id="blog-save-form" method="post" action="@if(blog.isEmpty){@routes.BlogsController.create}else{@routes.BlogsController.update(blog.get.id)}">

                @form.globalError.map { error =>
                <div class="textbox-wrap text-danger">
                    <span>@error.message</span>
                </div>
                }

                <div class="form-group @if(form("name").error.nonEmpty){has-error}">
                    <label for="name" class="col-sm-3 control-label">@Messages("blogs.input.label.name")</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="name" placeholder="@Messages("blogs.input.placeholder.name")" value="@form("name").value" >
                        @form("name").error match {
                        case None => {}
                        case Some(error) => { <span class="help-block has-error">@error</span> }
                        }
                    </div>
                </div>

                <div class="form-group @if(form("description").error.nonEmpty){has-error}">
                    <label for="description" class="col-sm-3 control-label">@Messages("blogs.input.label.description")</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="description" id="description" placeholder="@Messages("blogs.input.placeholder.description")" value="@form("description").value" >
                        @form("description").error match {
                        case None => {}
                        case Some(error) => { <span class="help-block has-error">@error</span> }
                        }
                    </div>
                </div>

                <div class="form-group @if(form("alias").error.nonEmpty){has-error}">
                    <label for="alias" class="col-sm-3 control-label">@Messages("blogs.input.label.alias")</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="alias" id="alias" placeholder="@Messages("blogs.input.placeholder.alias")" value="@form("alias").value" >
                        @form("alias").error match {
                        case None => {}
                        case Some(error) => { <span class="help-block has-error">@error</span> }
                        }
                    </div>
                </div>

                <div class="form-group @if(form("url").error.nonEmpty){has-error}">
                    <label for="url" class="col-sm-3 control-label">@Messages("blogs.input.label.url")</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="url" id="url" placeholder="@Messages("blogs.input.placeholder.url")" value="@form("url").value" >
                        @form("url").error match {
                        case None => {}
                        case Some(error) => { <span class="help-block has-error">@error</span> }
                        }
                    </div>
                </div>

                <div class="form-group @if(form("disqus").error.nonEmpty){has-error}">
                    <label for="disqus" class="col-sm-3 control-label">@Messages("blogs.input.label.disqus")</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="disqus" id="disqus" placeholder="@Messages("blogs.input.placeholder.disqus")" value="@form("disqus").value" >
                        @form("disqus").error match {
                        case None => {}
                        case Some(error) => { <span class="help-block has-error">@error</span> }
                        }
                    </div>
                </div>

                <div class="form-group @if(form("google_analytics").error.nonEmpty){has-error}">
                    <label for="google_analytics" class="col-sm-3 control-label">@Messages("blogs.input.label.google_analytics")</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="google_analytics" id="google_analytics" placeholder="@Messages("blogs.input.placeholder.google_analytics")" value="@form("google_analytics").value" >
                        @form("google_analytics").error match {
                        case None => {}
                        case Some(error) => { <span class="help-block has-error">@error</span> }
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="use_avatar_as_logo" value="@form("use_avatar_as_logo").value.getOrElse(true)" @if(form("use_avatar_as_logo").value.orNull) { checked } /> @Messages("blogs.input.label.use_gravatar")
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="status" class="col-sm-3 control-label">@Messages("blogs.input.label.status")</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="status" id="status">
                            <option value="@Messages(models.BlogStatus.CREATED.toString)" @if(form("status").value.getOrElse("") == s"${models.BlogStatus.CREATED}") { selected }>@Messages("blogs.input.option.status.created")</option>
                            <option value="@Messages(models.BlogStatus.PUBLISHED.toString)" @if(form("status").value.getOrElse("") == s"${models.BlogStatus.PUBLISHED}") { selected }>@Messages("blogs.input.option.status.published")</option>
                            <option value="@Messages(models.BlogStatus.INACTIVE.toString)" @if(form("status").value.getOrElse("") == s"${models.BlogStatus.INACTIVE}") { selected }>@Messages("blogs.input.option.status.inactive")</option>
                        </select>
                    </div>
                </div>

                <div>
                    <input type="hidden" name="@controllers.PreventingCsrfToken.FormKey" value="@token.value" />
                    <input type="hidden" id="id" name="id" value="@form("id").value" />
                    <input type="hidden" id="blog_image" name="image" value="@form("image").value" />
                    <a class="btn" href="@routes.BlogsGuestController.index()">@Messages("blogs.action.cancel")</a>

                    <button class="btn btn-primary" type="submit">
                        @blog match {
                        case None => { @Messages("blogs.action.create") }
                        case Some(blog) => { @Messages("blogs.action.save") }
                        }
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>

<script src="@routes.Assets.versioned("js/dropzone.js")"></script>
<script language="javascript">

        document.querySelector("#total-progress").style.opacity = "0";


var myDropzone = new Dropzone(document.body, {
    url: "@routes.ImagesController.upload()",
    paramName: "file",
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads:1,
    autoQueue:true,
    clickable: ".fileinput-button"
});
myDropzone.on("addedfile", function(file) {
    // Hookup the start button
    //document.body.style.backgroundImage = file;
    ///  file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
});

// Update the total progress bar
myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
});

myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
    // And disable the start button
});

myDropzone.on("success", function(file, response, e) {
    var url = response;
    $("#blog_image").val(url);
    $("#banner-image").css("background-image", "url("+url+")" );
    // $("#banner-image" ).height(file.height);

    myDropzone.removeAllFiles(true);
    document.querySelector("#total-progress").style.opacity = "0";
});

// Hide the total progress bar when nothing's uploading anymore
myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0";
    myDropzone.removeAllFiles(true);
});


        </script>
}