@(form:Form[(String,String,String)])(implicit token:controllers.PreventingCsrfToken, flash:Flash,  messages:Messages)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>@Messages("Login")</title>
    <link rel='stylesheet' href='@routes.Assets.versioned("css/bootstrap.css")'>
    <link rel='stylesheet' href='@routes.Assets.versioned("css/signin.css")'>
    <script src="@routes.Assets.versioned("js/jquery-1.10.2.js")" ></script>
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
</head>
<body>

<div class="container">
    <form method="post" action="@routes.AuthorsController.savePassword" class=form-signin">

        <h2 class="form-signin-heading">Change Password</h2>

        @form.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
        }

        @flash.get("success").map { message =>
        <p class="success">
            @message
        </p>
        }

        <p>
            <input type="password" class="form-control" name="password" placeholder="Current Password">
            @form("password").error match {
            case None => {}
            case Some(error) => {
            <span class="help-block">@error.message</span>
            }
            }
        </p>
        <p>
            <input type="password" class="form-control" name="new_password" placeholder="New Password">
            @form("new_password").error match {
            case None => {}
            case Some(error) => {
            <span class="help-block">@error.message</span>
            }
            }
        </p>
        <p>
            <input type="password" class="form-control" name="confirm_password" placeholder="New Password">
            @form("confirm_password").error match {
            case None => {}
            case Some(error) => {
            <span class="help-block">@error.message</span>
            }
            }
        </p>
        <p>
            <input type="hidden" name="@controllers.PreventingCsrfToken.formKey" value="@token.value" />
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginbutton">Change</button>
        </p>

    </form>
</div>

</body>
</html>