@(message: String, posts:Seq[(Post,Blog)], user:Visitor)(implicit  messages:Messages, webJarAssets: WebJarAssets, requireJS: org.webjars.play.RequireJS)
@main("Prosa", None, None, None, None, None, user) {
<li><a href="@routes.Application.index()"><i class="fa fa-home"></i>&nbsp;  @Messages("menu.home")</a></li>
<li><a href="@routes.BlogsGuestController.index()"><i class="glyphicon glyphicon-th"></i>&nbsp;  @Messages("menu.blogs")</a></li>
<li></li>
    @user match {
        case Guest => {
            <li></li>
            <li><a href="@routes.AuthController.login()"><i class="fa fa-lock"></i>&nbsp; @Messages("menu.login")</a></li>
        }
        case _ => {
            <li><a href="@routes.AuthorsController.changePassword"><i class="fa fa-key"></i>&nbsp;  @Messages("menu.change_password")</a></li>
            <li><a href="@routes.AuthController.logout"><i class="fa fa-power-off"></i>&nbsp;  @Messages("menu.logout")</a></li>
        }
    }
}{
}{
<div class="jumbotron cover-image" data-load-image="@routes.Assets.versioned("images/header.jpg")" >
    <div class="container cover-container">
        <h1>@Messages("prosa.main.title")</h1>
        <h2>@Messages("prosa.main.subtitle")</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <hr/>
            <span style="text-align: center">@Messages("prosa.main.content.index")</span>
            <hr/>
        </div>
    </div>
    <section class="post-list">
        @for((p,blog) <- posts) {
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <article role="article" class="post-item post">
                        <header class="post-item-header">
                            <h2 class="post-item-header">
                            <a href="@tools.PostAux.slug(blog.alias, p, false)" title="@p.title">@p.title</a>
                            </h2>
                            @if(p.subtitle) {
                            <h3 class="post-item-subtitle">
                            @p.subtitle
                            </h3>
                            }
                        </header>
                        <section class="post-item-excerpt">
                            @tools.PostAux.excerpt(p.content)
                        </section>
                        <footer class="post-item-footer">
                            <p>
                                <ul class="list-unstyled list-inline">
                                    <li class="post-item-meta-item">
                                    @Messages("index.caption.published")
                                    <time datetime="@p.published" itemprop="datePublished">@tools.PostAux.formatElapsed(p.published)</time>
                                    @Messages("index.caption.published_at") <a href="@routes.PostsGuestController.index(blog.alias)">@blog.name</a>
                                    </li>
                                </ul>
                            </p>
                        </footer>
                    </article>
                </div>
            </div>
        }
    </section>
    @tags.footer()
</div>
}