@(title: String, user:Author)(menu: Html)(userMenu:Html)(content: Html)(actions:Html)(implicit  messages:Messages, webJarAssets: WebJarAssets,  requireJS: org.webjars.play.RequireJS)
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@title</title>

    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("font-awesome.min.css"))'>
    <link rel="stylesheet" href='@routes.Assets.versioned("css/dropzone.css")'>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='@routes.Assets.versioned("bower_components/medium-editor/dist/css/medium-editor.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("bower_components/medium-editor/dist/css/themes/default.min.css")'  id="medium-editor-theme">
    <link rel="stylesheet" href='@routes.Assets.versioned("bower_components/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css")' >
    <link rel='stylesheet' href='@routes.Assets.versioned("css/prosa-main.css")'>



    <style>
        body {
            padding-top: 50px;
        }
        .medium-insert-images-slideshow figure {
        width: 100%;
        }
        .medium-insert-images-slideshow figure img {
        margin: 0;
        }
        .medium-insert-images.medium-insert-images-grid.small-grid figure {
        width: 10%;
        }
        @@media (max-width: 750px) {
        .medium-insert-images.medium-insert-images-grid.small-grid figure {
        width: 20%;
        }
        }
        @@media (max-width: 450px) {
        .medium-insert-images.medium-insert-images-grid.small-grid figure {
        width: 25%;
        }
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()">Prosa &nbsp;| <small>@Messages("menu.welcome", user.nickname)</small></a>
        </div>
        <div class="navbar-collapse collapse">
            @userMenu
        </div>
    </div>
</div>
<div id="site-wrapper">
    <div id="site-canvas">
        <div id="site-menu">
            <ul>
                @menu
            </ul>
        </div><!-- site menu -->

        <a href="javascript:void(0)" class="toggle-nav btn" id="toggle-menu"><i class="fa fa-bars fa-2x"></i></a>
        @content

    </div><!-- #site-canvas -->
</div><!-- #site-wrapper -->

    <!-- scripts -->

    <script src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
    <script src="@routes.Assets.versioned("bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js")"></script>
    <script src="@routes.Assets.versioned("bower_components/blueimp-file-upload/js/jquery.iframe-transport.js")"></script>
    <script src="@routes.Assets.versioned("bower_components/blueimp-file-upload/js/jquery.fileupload.js")"></script>
    <script src="@routes.Assets.versioned("bower_components/medium-editor/dist/js/medium-editor.min.js")"></script>
    <script src="@routes.Assets.versioned("bower_components/handlebars/handlebars.runtime.min.js")"></script>
    <script src="@routes.Assets.versioned("bower_components/jquery-sortable/source/js/jquery-sortable-min.js")"></script>
    <script src="@routes.Assets.versioned("bower_components/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.min.js")"></script>
    <script src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))'></script>
    <script src="@routes.Assets.versioned("js/prosa.js")"> </script>
<script>
    $body = document.body;
    $('[data-load-image]', $body).each(function() {
        ImageLoader.load($(this));
    });
</script>
<script>
var editor = new MediumEditor('.editor', {
    buttonLabels: 'fontawesome',
    autoLink: true,
    toolbar: {
        buttons: [
            'bold',
            'italic',
            'underline',
            'anchor',
            'h1',
            'h2',
            'h3',
            'quote',
            'pre',
            'orderedlist',
            'unorderedlist',
            'indent',
            'outdent',
            'justifyLeft',
            'justifyCenter',
            'justifyRight',
            'html'
        ]
    },
    paste: {
        /* This example includes the default options for paste,
         if nothing is passed this is what it used */
        forcePlainText: true,
        cleanPastedHTML: true,
        cleanReplacements: [],
        cleanAttrs: ['class', 'style', 'dir'],
        cleanTags: ['meta']
    }
});
</script>

    @actions

 <script language="javascript">
    $('.editor').mediumInsert({
        editor: editor,
        enabled: true,
        addons: {
            images: {
                label: '<span class="fa fa-camera"></span>',
                preview: true, // (boolean) Show an image before it is uploaded (only in browsers that support this feature)
                captions: true, // (boolean) Enable captions
                captionPlaceholder: 'Type caption for image (optional)', // (string) Caption placeholder
                autoGrid: 3,
                fileUploadOptions:{
                    url:"@routes.ImagesController.editorUpload",
                    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
                }
            }
        },
        embeds: {
            label: '<span class="fa fa-youtube-play"></span>',
            placeholder: 'Paste a YouTube, Vimeo, Facebook, Twitter or Instagram link and press Enter', // (string) Placeholder displayed when entering URL to embed
            oembedProxy: null,
            captions: true, // (boolean) Enable captions
        }
    });

</script>
</body>

</html>
