@(title:String, descOpt:Option[String], blogOpt: Option[Blog], canonicalOpt: Option[String], imgOpt: Option[String], authorOpt:Option[Author], user:Visitor)(menu: Html)(userMenu:Html)(content: => Html)(implicit  messages:Messages)
<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8">
    <title>@title</title>
    @authorOpt.map { author =>
        <meta name="author" content="@author.fullname" >
    }.getOrElse {
        <meta name="author" content="">
    }
    @descOpt.map { description =>
        <meta name="description" content="@description" >
    }.getOrElse {
        @blogOpt.map { blog =>
            <meta name="description" content="@blog.description" >
        }.getOrElse {
            <meta name="description" content="@Messages("prosa.description")">
        }
    }

    <meta property="og:title" content="@title" />
    @descOpt.map { description =>
    <meta property="og:description" content="@description" />
    }
    <meta property="og:type" content="blog" />
    @imgOpt.map { img =>
    <meta property="og:image" content="@img" />
    }

    @blogOpt.map { blog =>
    <meta property="og:site_name" content="@blog.name" />
    }



    <meta name="twitter:card" content="summary_large_image">
    @blogOpt.map { blog =>
        @blog.twitter.map { twitter =>
    <meta name="twitter:site" content="@twitter">
        }
    }
    @authorOpt.map { author =>
        @author.twitter.map { twitter =>
    <meta name="twitter:creator" content="@twitter">
        }
    }

    <meta property="twitter:title" content="@title">
    @descOpt.map { description =>
        <meta property="twitter:description" content="@description" />
    }

    @imgOpt.map { img =>
        <meta property="twitter:image" content="@img">
    }


    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @canonicalOpt.map { url =>
        <meta property="og:url" content="@url" />
        <link rel="canonical" href="@url" />
    }.getOrElse {
        @blogOpt.map { blog =>
            <meta property="og:url" content="@blog.url.getOrElse(Messages("prosa.canonical.url")+blog.alias)" />
            <link rel="canonical" href="@blog.url.getOrElse(Messages("prosa.canonical.url")+blog.alias)" />
        }.getOrElse {
            <meta property="og:url" content="@Messages("prosa.canonical.url")" />
            <link rel="canonical" href="@Messages("prosa.canonical.url")">
        }
    }

    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.css")'>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.Assets.versioned("bower_components/font-awesome/css/font-awesome.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("bower_components/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css")' >
    <link rel="stylesheet" href='@routes.Assets.versioned("css/dropzone.css")'>
    <link rel='stylesheet' href='@routes.Assets.versioned("css/prosa-main.css")'>

    @blogOpt.map { blog =>
    <link href="@tools.PostAux.atomUrl(blog.url.getOrElse(""))" rel="alternate" type="application/atom.xml" />
    }


    <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")" ></script>
    <script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("js/prosa.js")"> </script>
    <script src="@routes.Assets.versioned("js/docs.min.js")"></script>


    @user match {
        case Guest => {}
        case _ => {
            <style>
                body {
                    padding-top: 50px;
                }
            </style>
        }
    }
</head>
<body>
@user match {
    case Guest => {}
    case user:Author => {
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()">Prosa &nbsp;| <small>@Messages("menu.welcome", user.nickname)</small></a>
                </div>
                <div class="navbar-collapse collapse">
                    @userMenu
                </div>
            </div>
        </div>
    }
}
    <div id="site-wrapper">
        <div id="site-canvas">
            <div id="site-menu" class="col-sm-3 col-md-2 sidebar">
                <ul>
                    @menu
                </ul>
            </div>
            <a href="#" class="toggle-nav btn" id="toggle-menu"><i class="fa fa-bars fa-2x"></i></a>
            @content
        </div>
    </div>
<!-- scripts -->
<script>
    $body = document.body;
    $('[data-load-image]', $body).each(function() {
        ImageLoader.load($(this));
    });
</script>
</body>
</html>
