@(blog:Blog, author:Option[Author], user:Visitor)(implicit  token:controllers.PreventingCsrfToken, flash:Flash)
@main(Messages("posts.import.caption"), null, Some(blog),None, author,user) {
@views.html.blogs_menu(null, user)
}{
}{
<aside role="banner" class="cover">
    <div data-load-image="@blog.image.orNull" class="blog-cover-image"></div>
    <div class="cover-container">
        @if(blog.logo) {
        <a href="@routes.PostsGuestController.index(blog.alias)" class="cover-logo" >
            <img src="@blog.logo.getOrElse("")"   alt="Blog Logo">
        </a>
        }
        <h1 class="cover-title">@blog.name</h1>
        <p class="cover-description">@blog.description</p>
    </div>
</aside>
<section class="wrapper" tabindex="0">
    <div class="wrapper-container">
        <div class="row">
            <div class="col-sm-12">
                <header class="post-item-header">
                    <h1>@Messages("posts.import.caption")</h1>
                </header>
                <section>
                    <form class="form-horizontal" role="form" method="post"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file_format" class="col-sm-2 control-label">@Messages("posts.import.file_format")</label>
                            <div class="col-sm-10">
                                <select id="file_format" name="file_format" class="form-control">
                                    <option value="ghost">Ghost</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file" class="col-sm-2 control-label">@Messages("posts.import.file")</label>
                            <div class="col-sm-10">
                                <input type="file" id="file" name="file">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9">
                                <input type="hidden" name="@controllers.PreventingCsrfToken.FormKey" value="@token.value" />
                                <button type="submit" class="btn btn-default">@Messages("posts.import.submit")</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>
}