@(blog:Blog, post:Post, user:Visitor)(implicit flash:Flash)
@main(post.title, user) {
@views.html.blogs_menu(blog.alias, user)
}{
<ul class="nav navbar-nav navbar-right">
    <li><a href="@routes.PostsController.drafts(blog.alias)"><i class="fa fa-tasks"></i>&nbsp; @Messages("menu.drafts")</a></li>
    <li><a href="@routes.PostsGuestController.index(blog.alias)"><i class="fa fa-list"></i>&nbsp; @Messages("menu.posts")</a></li>
    <li><a class="" href="@routes.PostsController.create(blog.alias)"><i class="fa fa-pencil"></i>&nbsp; @Messages("posts.action.new")</a> </li>
    <li><a class="" href="@routes.PostsController.edit(blog.alias, post.id)"><i class="fa fa-edit"></i>&nbsp; @Messages("posts.action.edit")</a> </li>
    <li>&nbsp;</li>
</ul>
}{
<div id="banner-image" class="jumbotron cover-image" data-load-image="@post.image">
    <div class="container cover-container">
        <h1>@post.title</h1>
        <h2>@post.subtitle</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="post-content">
            @Html(post.content)
        </div>
    </div>
</div>

<script>
    $( function() {
        var bisrc = $("#banner-image" ).css('background-image');
        var rx = /url\((.*)\)/g;
        var a = rx.exec(bisrc);
        if (a) {
            var src = a[1];
            var img  = new Image();
            img.onload = function() {
                var h2 = img.naturalHeight;
                $("#banner-image" ).height(h2);

                var h = h2+20;
                if (h < 320)
                    h = 320;
                if (h > 820)
                    h = 820;
                $(".top-cover" ).height(h-20);
                $(".post-wrapper" ).css("top", h+"px");
            };
            img.src = src;
        }
    });
</script>
}