@(blog:Blog, author:Option[Author], post:Post, user:Visitor)(implicit flash:Flash)
@main(post.title, tools.PostAux.excerpt(post.content), Some(blog), Some(tools.PostAux.canonical(blog, post)), author, user) {
@views.html.blogs_menu(blog.alias, user)
}{
<ul class="nav navbar-nav navbar-right">
    <li><a href="@routes.PostsController.drafts(blog.alias)"><i class="fa fa-tasks"></i>&nbsp; @Messages("menu.drafts")</a></li>
    <li><a href="@routes.PostsGuestController.index(blog.alias)"><i class="fa fa-list"></i>&nbsp; @Messages("menu.posts")</a></li>
    <li><a class="" href="@routes.PostsController.create(blog.alias)"><i class="fa fa-pencil"></i>&nbsp; @Messages("posts.action.new")</a> </li>
    <li><a class="" href="@routes.PostsController.edit(blog.alias, post.id)"><i class="fa fa-edit"></i>&nbsp; @Messages("posts.action.edit")</a> </li>
    <li>&nbsp;</li>
</ul>
}{
@post.image match {
    case None => {
        <div id="banner" class="jumbotron">
            <h1 class="text-center">@post.title</h1>
            @post.subtitle.map { subtitle =>
            <h2 class="text-center">@subtitle</h2>
            }
        </div>
    }
    case Some(image) => {
            <div id="banner-image" class="jumbotron cover-image" data-load-image="@post.image">
                <div class="container cover-container">
                    <h1>@post.title</h1>
                    @post.subtitle.map { subtitle =>
                    <h2>@subtitle</h2>
                    }
                </div>
            </div>
    }
}
<div class="row ">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="post-content">
            @Html(post.content)
        </div>
        @blog.disqus.map { disqus_short_name =>
        <div class="comments">
            <h3>@Messages("posts.view.comments")</h3>
            <div id="disqus_thread" aria-live="polite">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
        }
    </div>
</div>


@blog.disqus.map { disqus_short_name =>
<script type="text/javascript">
    var disqus_shortname = '@disqus_short_name';
        // var disqus_developer = 1;
        var disqus_identifier = '@blog.url.getOrElse("")@tools.PostAux.slug(blog.alias, post, false)/';
        var disqus_url = '@blog.url.getOrElse("")@tools.PostAux.slug(blog.alias, post, false)/';
        var disqus_script = 'embed.js';
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }());
</script>
}

}