@(blog:Blog, post:Post, form:Form[PostData], user:Author)(implicit token:controllers.PreventingCsrfToken, flash:Flash,  messages:Messages)
@main_editor(Messages("posts.action.edit")+" - "+form("title").value.get, user) {
    @views.html.blogs_menu(Some(blog), user)
}{
<form id="post-form" method="post" action="@routes.PostsController.update(blog.alias, post.id)" class="navbar-form navbar-right">
    <input type="hidden" id="blog" name="blog" value="@blog.alias" />
    <input type="hidden" id="id" name="id" value="@post.id" />
    <input type="hidden" id="image" name="image" value="@form("image").value" />
    <input type="hidden" id="title" name="title" value="@form("title").value" />
    <input type="hidden" id="subtitle" name="subtitle" value="@form("subtitle").value" />
    <input type="hidden" id="content" name="content" value="@form("content").value" />
    <input type="hidden" id="draft" name="draft" value="@form("draft").value" />
    <input type="hidden" id="publish" name="publish" value="@form("publish").value" />
    <input type="hidden" name="@controllers.PreventingCsrfToken.formKey" value="@token.value" />
    @form("draft").value.get match  {
        case "true" => {
        <a class="btn btn-default" href="@routes.PostsController.drafts(blog.alias)">@Messages("posts.action.cancel")</a>
        }
        case "false" => {
        <a class="btn btn-default" href="@routes.PostsGuestController.index(blog.alias)">@Messages("posts.action.cancel")</a>
        <a class="btn btn-info" data-toggle="modal" data-target="#modalUnpublish">@Messages("posts.action.unpublish")</a>
        }
    }
    <button class="btn btn-primary" onclick="sbmt();">@Messages("posts.action.save")</button>
    <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">@Messages("posts.action.delete")</a>
    <a  class="btn btn-success" onclick="publish();">@Messages("posts.action.publish")</a>
</form>
}{
<div id="banner-image" class="jumbotron cover-image" data-load-image="@form("image").value">
    <div class="container cover-container">
        <div class="top-cover-container">
            <div class="top-cover-upload">
                <button class="btn fileinput-button"><i class="fa fa-image fa-3x"></i>
                    <span class="screen-reader-text">@Messages("posts.action.upload_image")</span>
                </button>
            </div>
        </div>
        <div class="fileupload-process">
            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
        @form("title").error match {
        case None => {
        <h1 class="post-title-cover editable" id="post_title"  contenteditable="true" placeholder="@Messages("posts.content.title")">@form("title").value</h1>
        }
        case Some(error) =>   {
        <h1 class="post-title-cover editable" style="color:darkred" id="post_title"  contenteditable="true" placeholder="@Messages(error.message)">@form("title").value</h1>
        }
        }
        @form("subtitle").error match {
        case None => {
        <h2 class="post-subtitle-cover editable" id="post_subtitle"  contenteditable="true" placeholder="@Messages("posts.content.subtitle")">@form("subtitle").value</h2>
        }
        case Some(error) =>   {
        <h2 class="post-subtitle-cover editable" style="color:darkred" id="post_subtitle"  contenteditable="true" placeholder="@Messages(error.message)">@form("subtitle").value</h2>
        }
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="post-content">
            @flash.get("success").map { message =>
            <div class="row" id="alerts">
                <div class="col-sm-12 ">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <p>@message</p>
                    </div>
                </div>
            </div>
            }
            @flash.get("error").map { message =>
            <div class="row" id="alerts">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <p>@message</p>
                    </div>
                </div>
            </div>
            }
            @form("content").error match {
            case None => {}
            case Some(error) => {  <p class="text-danger">@Messages(error.message)</p> }
            }
            <div id="container">
                <div class="editor" id="post_content" data-placeholder="@Messages("placeholders.editor.type_here")">
                @Html(form("content").value.getOrElse(""))
                </div>
            </div>
        </div>
    </div>
</div>
}{

<section>
    <div class="modal  fade in alert " style="z-indez: 10050;" id="modalDelete"  role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalDeleteLabel">@Messages("posts.modal.caption.delete")</h4>
                </div>
                <div class="modal-body">
                    @Messages("posts.modal.text.delete")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("posts.action.cancel")</button>
                    <button type="button" class="btn btn-danger" onclick="sbmt_delete()" >@Messages("posts.action.delete")</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal  fade in alert " style="z-indez: 10050;" id="modalUnpublish"  role="dialog" aria-labelledby="modalUnpublishLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalUnpublishLabel">@Messages("posts.modal.caption.unpublish")</h4>
                </div>
                <div class="modal-body">
                    @Messages("posts.modal.text.unpublish")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("posts.action.cancel")</button>
                    <button type="button" class="btn btn-danger" onclick="unpublish()" >@Messages("posts.action.unpublish")</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function sbmt_delete() {
        $("#post-form").attr('action', "@routes.PostsController.delete(blog.alias, post.id)");
        $("#post-form").submit();
    }

    function unpublish() {
        $("#post-form").attr('action', "@routes.PostsController.unpublish(blog.alias, post.id)");
        $("#post-form").submit();
    }

    function sbmt() {
        $("#post-form").attr('action', "@routes.PostsController.update(blog.alias, post.id)");
        var title = $("#post_title").text();
        var subtitle = $("#post_subtitle").text();
        var content = editor.serialize().post_content.value;
        $("#title").val(title);
        $("#subtitle").val(subtitle);
        $("#content").val(content);
        $("#post-form").submit();
    }

    function publish() {
        $("#publish").val("true");
        $("#draft").val("false");
        sbmt();
    }
</script>

<script src="@routes.Assets.versioned("js/dropzone.js")"></script>

<script language="javascript">

document.querySelector("#total-progress").style.opacity = "0";


var myDropzone = new Dropzone(document.body, {
    url: "@routes.ImagesController.upload()",
    paramName: "file",
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads:1,
    autoQueue:true,
    clickable: ".fileinput-button"
});
myDropzone.on("addedfile", function(file) {
// Hookup the start button
///  file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
});

// Update the total progress bar
myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
});

myDropzone.on("sending", function(file) {
// Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
// And disable the start button
});

myDropzone.on("success", function(file, response, e) {
    var url = response;
    $("#image" ).val(url);
    $("#banner-image").css("background-image", "url("+response+")" );
    $("#banner-image" ).height(file.height);
    var h2 = file.height;
    var h = h2 + 20;
    if (h < 320)
        h = 320;
    if (h > 820)
        h = 820;
    $(".top-cover" ).height(h-20);
    $(".post-wrapper" ).css("top", h+"px");
    myDropzone.removeAllFiles(true);
    document.querySelector("#total-progress").style.opacity = "0";
});

// Hide the total progress bar when nothing's uploading anymore
myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0";
    myDropzone.removeAllFiles(true);
});

    $( function() {
        alert("!!!image banner");
        var bisrc = $("#banner-image" ).css('background-image');
        var rx = /url\((.*)\)/g;
        var a = rx.exec(bisrc);
        if (a) {
            var src = a[1];
            var img  = new Image();
            img.onload = function() {
                var h2 = img.naturalHeight;
                $("#banner-image" ).height(h2);

                var h = h2+20;
                if (h < 320)
                    h = 320;
                if (h > 820)
                    h = 820;
                $(".top-cover" ).height(h-20);
                $(".post-wrapper" ).css("top", h+"px");

            };
            img.src = src;

        }
    });
</script>

}